:root {
    --color-primary: #f7f6fe;
    --color-secondary: #040312;
    --color-button-primary: #7e1cba;
    --color-button-secondary: #280624;
    --color-accent: #ba1ca8;
    box-sizing: border-box;
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --color-card: #11101E;
    --font-inter: 'Inter', sans-serif;

    --font-oxygen: 'Oxygen', sans-serif;
    --gradient: radial-gradient(circle, var(--color-accent) 0%, var(--color-button-primary) 89%);

    font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
    margin: 0 15%;
    color: var(--color-primary);

}

.color-gradinet-effect {
    background: linear-gradient(120deg, var(--color-accent), var(--color-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* #region nav*/
.skull {
    width: 20px;
    height: auto;
    background-color: inherit;
}

nav {
    padding: 20px 0;
    width: 100%;
}

nav ul {
    display: flex;
    text-align: center;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
}


.skull {
    fill: #7e1cba;
    transition: color ease 0.2s;
}

nav ul>li:nth-child(n+1) {
    font-size: var(--p);
}

nav ul>li:first-child {
    font-size: var(--subtitle);
    text-align: left;
    margin-right: auto;
    flex-basis: auto;
    font-weight: bold;
}

.nav-logo-name {
    color: inherit;
    transition: color ease 0.5s;
}

.nav-logo-name:hover {
    color: var(--color-button-primary);
}

nav ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.button-nav {
    background-color: var(--color-button-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 3em;
    border-radius: 6px;
}

nav ul>li {
    transition: all ease 0.3s;
}

nav ul>li:hover {
    transform: translateY(-3px);
}

.button-nav:hover {
    box-shadow: 0 20px 80px -10px var(--color-accent);
}

/* #endregion */


/* #region  main*/
.my-name-przem {
    color: var(--color-button-primary);
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6em;
    margin-top: 2em;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 3em;
}


h1>span:nth-child(1) {
    font-size: var(--p);
    display: block;
}

h1>span:nth-child(2) {
    font-size: var(--h1);
    display: block;
}

h1>span:nth-child(3) {
    display: block;
}


main>* {
    width: 50%;
}

.hero-svg {
    fill: var(--color-button-primary);
    width: 310px;
    height: auto;


}

.main-right {
    display: flex;
    justify-content: flex-end;
}

.project-tech>ul>li {
    width: 50px;
    text-align: center;
}

/* #endregion  */

/* #region projects */
#logo-react {
    animation: logo-spin 2s linear 0 infinite normal none;
}

@keyframes logo-spin {
    100% {
        transform: rotate(360deg);
    }
}

.project-name {
    color: var(--color-button-primary);
    margin: 0.5em 0;
}

.divider {
    width: 100%;
    background: rgb(186, 28, 168);
    background: var(--gradient);
    height: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.divider>span {
    background-color: var(--color-secondary);
    border: 10px solid var(--color-secondary);
    border-radius: 100px;

}

#projects>article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

.image-container {
    grid-column: 1/6;
    grid-row: 1/2;
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem 0 4rem 0;
    max-height: 300px;
}

.text-container {
    grid-column: 5/11;
    grid-row: 1/2;
    text-align: right;
    z-index: 9999;
}

.project-description {
    background-color: var(--color-card);
    padding: 2em 1em;
    border-radius: 6px;
}

.project-tech {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    margin: 1em 0;
}

.project-tech ul {

    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    gap: 1em;
}

.project-tech>h4 {
    color: var(--color-accent)
}

#projects article.reverse .text-container {
    grid-column: 1/7;
    text-align: left;
}

#projects article.reverse .image-container {
    grid-column: 6/11;
    text-align: left;
}

.project-tech-reverse {
    justify-content: flex-start;
}

#projects {
    padding-top: 2em;
}

/* #endregion */

/* #region footer */
footer {
    background-color: var(--color-card);
    border: 2px solid var(--color-button-primary);
    border-radius: 6px;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    gap: 0.75em;

}

.footer-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em
}


/* #endregion */

[class*="fa-"] {
    color: var(--color-accent);
    font-size: 2em;
    transition: all ease 0.5s;
}

[class*="fa-"]:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(186, 28, 168, 1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(186, 28, 168, 1);
    box-shadow: 0px 0px 19px -3px rgba(186, 28, 168, 1);
    transform: translateY(-3px);
}

@media (max-width:800px) {
    #projects>article {
        display: flex;
        flex-direction: column;
    }

    #projects>article>img {
        order: 2;
        padding-top: 0;
        margin-top: 0;
    }

    #projects>article>div.text-container {
        order: 1;
        text-align: left;
    }

    #projects>article>div.text-container>div.project-tech {
        justify-content: flex-start;
    }

    nav>ul>li:first-child {
        flex-basis: 100%;
        text-align: center;
    }


}