:root {
    --color-primary: #f7f6fe;
    --color-secondary: #040312;
    --color-button-primary: #7e1cba;
    --color-button-secondary: #280624;
    --color-accent: #ba1ca8;
    font-family: 'Inter var', sans-serif;
    box-sizing: border-box;
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --color-card: #11101E;

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
    margin: 0 15%;
    color: var(--color-primary);

}

/* #region nav*/
.skull {
    width: 20px;
    height: auto;
    background-color: inherit;
}

nav {
    padding: 20px 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 0;
    align-items: center;
}


.skull {
    fill: #7e1cba;
    transition: color ease 0.2s;
}

nav ul>li:nth-child(n+1) {
    font-size: var(--p);
    flex-basis: 20%;
}

nav ul>li:first-child {
    font-size: var(--subtitle);
    text-align: left;
    flex-basis: 90%;
    font-weight: bold;
    transition: color ease 0.2;
}

.nav-logo-name:hover {
    color: var(--color-button-primary);
}

nav ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.button-nav {
    background-color: var(--color-accent);
    padding: 1em 2em;
    border-radius: 6px;
}

nav ul>li {
    transition: all ease 0.2s;
}

nav ul>li:hover {
    transform: translateY(-3px);
}

.button-nav:hover {
    box-shadow: 0 20px 80px -10px var(--color-accent);
}

/* #endregion */


/* #region  main*/
.my-name-przem {
    color: var(--color-button-primary);
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6em;
    margin-top: 2em;
}

h1>span:nth-child(1) {
    font-size: var(--p);
    display: block;
}

h1>span:nth-child(2) {
    font-size: var(--h1);
    display: block;
}

h1>span:nth-child(3) {
    display: block;
}


main>* {
    width: 50%;
}

.hero-svg {
    fill: var(--color-button-primary);
    width: 310px;
    height: auto;


}

.main-right {
    display: flex;
    justify-content: flex-end;
}


/* #endregion  */

/* #region projects */
.divider {
    width: 100%;
    background-color: var(--color-accent);
    height: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.divider>span {
    background-color: var(--color-secondary);
    border: 10px solid var(--color-secondary);
    border-radius: 100px;

}

#projects>article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.image-container {
    grid-column: 1/6;
    grid-row: 1/2;
}

.text-container {
    grid-column: 5/11;
    grid-row: 1/2;
    text-align: right;
    z-index: 9999;
}

.project-description {
    background-color: var(--color-card);
    padding: 2em 1em;
    border-radius: 6px;
}

.project-tech ul {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    gap: 4em;
}

#projects article.reverse .text-container {
    grid-column: 1/7;

    text-align: left;
}

#projects article.reverse .image-container {
    grid-column: 6/11;

    text-align: left;
}

#projects article.reverse .project-tech ul {
    justify-content: flex-start;
}

/* #endregion */

footer {
    background-color: var(--color-card);
    border: 2px solid var(--color-button-primary);
    border-radius: 6px;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.footer-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em
}

[class*="fa-"] {
    color: var(--color-accent);
    font-size: 2em;
    transition: all ease 0.3s;
}

[class*="fa-"]:hover {
    box-shadow: 0 20px 80px -10px var(--color-accent);

}