/* #region footer */
footer {
    background-color: var(--color-card);
    border: 2px solid var(--color-button-primary);
    border-radius: 6px;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    gap: 0.75em;

}

.footer-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em
}

/* #region contact-form */
#email-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    width: 50%;
}

#email-submit {
    background-color: var(--color-button-primary);
    border: none;
    color: var(--color-primary);
    padding: 0.5rem 1.5rem;
    cursor: pointer;

}

#email-contact-form>input:not([type="submit"]),
#email-contact-form>textarea {
    display: block;
    min-width: 10rem;
    line-height: 1.1rem;
    border: 1px solid var(--color-accent);
    background: none;
    color: white;
}

#email-contact-form>textarea {
    max-width: 70%;
    min-width: 70%;
    height: 5rem;
    max-height: 10rem;
    min-height: 10rem;
}

#email-contact-form>label {
    color: white;
    display: block;
}

#email-contact-form>input[name="message"] {
    min-height: 10rem;
}

/* #endregion */


/* #endregion */