/* #region media-queries */
@media (max-width:1025px) {
    main h1 {
        padding-left: 3vw;
    }

    .project-tech>h4 {
        flex-basis: 100%;
    }

    .project-tech:hover>h4::before {
        width: 62%;
    }
}

@media (max-width:800px) {
    nav {

        padding-top: 2vh;
        padding-bottom: 10vh;
    }

    nav ul {
        row-gap: 1rem;
    }

    nav>ul>li:first-child {
        text-align: center;
        margin-left: 10rem;
    }

    #projects>article {
        display: flex;
        flex-direction: column;
    }

    #projects>article>img {
        order: 2;
        padding-top: 0;
        margin-top: 0;
    }

    #projects>article>div.text-container {
        order: 1;
        text-align: left;
    }

    #projects>article>div.text-container>div.project-tech {
        justify-content: flex-start;
    }

    nav>ul>li:first-child {
        flex-basis: 100%;
        text-align: center;
    }


    .project-tech>h4 {
        flex-basis: auto;
    }

    .project-tech:hover>h4::before {
        width: 100%;
    }

    main h1 {
        padding-left: 0;
    }
}

/* #endregion */