/* #region nav*/
.my-cool-logo {
    width: 20px;
    height: auto;
    fill: #7e1cba;
    transition: color ease 0.2s;
}

.my-cool-logo-spin {
    display: inline-block;
    transition: transform ease 1s;
}

nav {
    padding-top: 3vh;
    height: 5vh;
    padding-bottom: 3vh;
    width: 100%;
}

nav ul {
    display: flex;
    text-align: center;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
}

nav ul>li:nth-child(n+1) {
    font-size: var(--p);
}

nav ul>li:first-child:hover .my-cool-logo-spin {
    transform: rotate(360deg);
}

nav ul>li:first-child {
    font-size: var(--subtitle);
    /* text-align: left; */
    margin-right: auto;
    /* flex-basis: auto; */
    font-weight: bold;
}

nav>ul>li:first-child>a {
    display: flex;
    align-items: center;
    gap: 0.7rem
}

.nav-logo-name {
    color: inherit;
    transition: color ease 0.5s;
}

.nav-logo-name:hover {
    color: var(--color-button-primary);
}



nav ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.button-nav {
    background-color: var(--color-button-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 3em;
    border-radius: 6px;
}

nav ul>li {
    transition: transform ease var(--transition-duration, 0.3s);
}

nav ul>li:hover {
    transform: translateY(-3px);
}

.button-hover {
    transition: box-shadow ease var(--transition-duration, 0.3s);
}

/* TODO  : FIX THIS SHIT NOT WORKING FOR THE SEND EMAIL BUTTON */
.button-hover:hover {
    box-shadow: 0px 0px 20px 0px var(--color-accent);
}

.element-translateY {
    transition: transform ease var(--transition-duration, 0.3s);
}

.element-translateY:hover {
    transform: translateY(-3px);
}

/* #endregion */