/* #region projects */


@keyframes logo-spin {
    100% {
        transform: rotate(360deg);
    }
}

.project-name {
    color: var(--color-button-primary);
    margin: 0.5em 0;
}

.divider {
    /* width: 100%;
    background: rgb(186, 28, 168);
    background: var(--gradient);
    height: 18px;
    border-radius: 6px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.divider-grow::before {
    content: "";
    background: var(--gradient);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 10px;
}

.divider-grow::after {
    content: "";
    background: var(--gradient);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 10px;
}

.divider-grow::after,
.divider-grow::before {
    animation: 3s ease-in 0.2s 1 both divider-grow;
}

@keyframes divider-grow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.divider>span {
    background-color: var(--color-secondary);
    border: 10px solid var(--color-secondary);
    border-radius: 100px;
}

#projects>article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    margin-bottom: 6rem;
}

.image-container {
    grid-column: 1/6;
    grid-row: 1/2;
    width: 100%;
    margin: 2rem 0 4rem 0;
    max-height: 300px;
}

.image-container-box-shadow {
    -webkit-box-shadow: 22px 22px 0px -10px rgba(17, 16, 30, 1);
    -moz-box-shadow: 22px 22px 0px -10px rgba(17, 16, 30, 1);
    box-shadow: 22px 22px 0px -10px rgba(17, 16, 30, 1);
}

.image-container-box-shadow-reverse {
    -webkit-box-shadow: -22px 22px 0px -10px rgba(17, 16, 30, 1);
    -moz-box-shadow: -22px 22px 0px -10px rgba(17, 16, 30, 1);
    box-shadow: -22px 22px 0px -10px rgba(17, 16, 30, 1);
}

.text-container {
    grid-column: 5/11;
    grid-row: 1/2;
    text-align: right;
    z-index: 9999;
}

.project-description {
    background-color: var(--color-card);
    padding: 2em 1em;
    border-radius: 6px;
}

.project-tech {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: 1em;
    margin: 1em 0;
}

.project-tech ul {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    gap: 1em;
}

.project-tech>h4 {
    color: var(--color-accent);
    position: relative;
}

.project-tech>h4::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -20%;
    background-color: var(--color-accent);
    transition: width ease calc(var(--transition-duration, 0.3s)*2);
}

.project-tech:hover>h4::before {
    width: 100%;
}

#projects article.reverse .text-container {
    grid-column: 1/7;
    text-align: left;
}

#projects article.reverse .image-container {
    grid-column: 6/11;
    text-align: left;
}

.project-tech-reverse {
    justify-content: flex-start;
}

#projects {
    padding-top: 2em;
}

.logo-react-spin {
    animation: 15s linear 0s infinite logo-spin;
}

/* #endregion */