/* #region setup */
:root {
    --color-primary: #f7f6fe;
    --color-secondary: #040312;
    --color-button-primary: #7e1cba;
    --color-button-secondary: #280624;
    --color-accent: #ba1ca8;
    box-sizing: border-box;
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --color-card: #11101E;
    --font-inter: 'Inter', sans-serif;
    --transition-duration: 0.3s;
    --font-oxygen: 'Oxygen', sans-serif;
    --gradient: radial-gradient(circle, var(--color-accent) 0%, var(--color-button-primary) 89%);

    font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
    margin: 0 15%;
    color: var(--color-primary);

}

.color-gradinet-effect {
    background: linear-gradient(120deg, var(--color-accent), var(--color-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* #endregion */

.my-cool-logo-spiral-document {
    height: 30px;
    width: 30px;
}

.hidden-svgs {
    display: none;
}


/* #region font-awesome */
[class*="fa-"] {
    color: var(--color-accent);
    font-size: 2em;
    transition: all ease 0.5s;
}

[class*="fa-"]:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(186, 28, 168, 1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(186, 28, 168, 1);
    box-shadow: 0px 0px 19px -3px rgba(186, 28, 168, 1);
    transform: translateY(-3px);
}

/* #endregion */